@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
}
.btn{
    display: block;
    color: antiquewhite;
    background-color: blueviolet;
    font-family: sans-serif;
    text-align: center; 
    font-size: 15px;
    width: 200px;
    height: 50px;
    padding: 10px 50px;
    border-radius: 10px;
    border-color: blueviolet;
}